html, body {
	margin: 0;
	padding: 0;

}

ul {
	list-style: none;
}

li {
	display: inline-block;
	background-color: #3498db;
	padding: 5px;
	color: #fff;
}

#fix-margin-right li {
	margin-right: -4px;
}