ul {
	list-style: none;
}

li {
	display: inline-block;
	background-color: #3498db;
	padding: 5px;
	color: #fff;
}

#fix-margin-right li {
	margin-right: -4px;
}

#fix-size-0 {
	font-size: 0;
}

#fix-size-0 li {
	font-size: 16px;
}

#flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}